h1, body, html, main {
  margin: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

.piePhoto {
  background-image: url("../images/apple-pie.jpg");
  width: 100%;
  height: 700px;
  background-size: 100%;
  padding: 10px;
}

.title {
  font-size: 4em;
  color: white;
  margin: 300px;
  text-align: center;
}

.firstBodyDiv {
  margin: auto;
  width: 80%;
  height: 100%;
}

.secondBodyDiv {
  margin: 0 auto;
}

p {
  text-align: justify;
  margin: 40px 0px;
  font-size: 1.1em;
}

.recipeImage {
  width: 50%; 
  margin: 5% 25%;
}

.ingredients {
  padding: 10px;
}

.timeImage {
  width: 40%; 
  margin: 5% 30%;
}

.directions {
  padding: 10px;
}

